<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link type="text/css" rel="stylesheet" href="/css/style.css"> -->
<script src="https://kit.fontawesome.com/080f0379a0.js" crossorigin="anonymous"></script>
<!-- <link rel="stylesheet" href="/css/style.css"> -->

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

<title>Project two</title>
</head>
<body>
    <header class="topNav">   
        <nav>
            <ul>
                <li><a class="webLogo" href="/posts"><h1>Foodgram</h1></a></li>
                <li><div class="searchBar">
                    <input type="text" placeholder="search">
                    <button class="searchBtn"><i class="fas fa-search"></i></button>
                </div></li>
                <li>
                    <div class="profile">
                        <% if (loginUser) { %>   
            
                        <div class="dropdown">
                            <button class="dropBtn">
                                <i class="fas fa-user-circle" style="font-size:20px;margin:3px;"></i>
                                <%= loginUser.name %>
                            </button>
                            <div class="dropdown-content">
                                <a href="/users/<%= loginUser._id %>">My Page</a>
                                <a href="/users/<%=loginUser._id%>/edit">Setting</a>
                                <a href="/logout">LogOut</a>
                            </div>
                        </div>
                        
                        <% } else { %>
                            <i class="fas fa-user-circle" style="font-size:20px;margin:3px;"></i>
                            Hi, Guest!
                            <a href="/auth/google">Login</a>
                        <% } %> 
                    </div>
                </li>
                

                
                <!-- <li>
                    <div class="searchBar">
                        <input type="text" placeholder="search">
                        <button class="searchBtn"><i class="fas fa-search"></i></button>
                    </div>
                </li> -->
                
            </ul>
        </nav>


        
        
    </header>