<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="/css/style.css">
<script src="https://kit.fontawesome.com/080f0379a0.js" crossorigin="anonymous"></script>
<title>Project two</title>
</head>
<body>
    <header class="topNav">    
        <a class="webLogo" href="/posts"><h1>Foodgram</h1></a>
        <div class="searchBar">
            <input type="text" placeholder="search">
            <button class="searchBtn"><i class="fas fa-search"></i></button>
        </div>
        <div class="profile">            
            <div class="dropdown">
                <button class="dropBtn"><i class="fas fa-user-circle" style="font-size:20px;margin:5px;"></i>Hi, Username(Guest)</button>
                <div class="dropdown-content">
                    <a href="#">My Page</a>
                    <a href="#">Setting</a>
                    <a href="/logout">LogOut</a>
                </div>
            </div>
            <a href="#">Add a Post</a>
            <a href="/auth/google">LogIn</a>
            <a href="/logout">LogOut</a>
        </div>
    </header>