<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
    <title>Project two</title>
</head>
<body>
    <div class= "login-form">
        <h1>Foodgram</h1>
        <a class= "oauth" href="/auth/google">Login with Google</a>
        <p>or</p>
        <input type="text" name="username" placeholder="username">
	    <input type="text" name="password" placeholder="password">
	    <input type="submit" value="login">
        <p>or</p>
        <a class="guestLogin" href="/posts">Login as a guest</a>
    </div>

    
    
</body>
</html>