/* CSS Custom Properties */
body{
    --bg-content: #8E8D8A;
    --bg-generic: #EAE7DC;
    --active-elem: #E98074;
    --passive-elem: #E85A4F;
    --header-height: 60px;

    font-size: 20px;
    margin-top: var(--header-height);
    font-family: "Lato", Arial, sans-serif;
    line-height: 1.8;
    font-weight: normal;
    color: white;
    
}

.bg-login {
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(/images/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Generic CSS */

.jc-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;

}

/* Nav bar Styling */

.guest-login {
    float: right;
    color: white;
}

/* Page Header Part */

li.a{
    color: white;
}

header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 25px 0 black;
}

header img {
    height: 80px;
}

header * {
    display: inline;
}

header li a {
    color: black;
    text-decoration: none;
}

/* .topNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
} */

.searchBar input:first-of-type{
    width: 200px;
    height: 20px;
    border: 1px solid darkgray;
    border-radius: 5px;
}

.searchBtn {
    border: none;
    background-color: white;
}

.dropBtn {
    border: none;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: gray;}


.webLogo {
    text-decoration: none;
    color: white;
}

/*Login index styling  */

#btn {
    background-color: var(--active-elem);
}

#btn:hover {
    border: 1px solid var(--active-elem);
    background-color: var(--passive-elem);
    color: white;
}

input {
    font-size: 20px;
    color: white;

}

::placeholder {
    font-size: 20px;
}

.form-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-control {
    height: 50px;
    width: 80%;
    color: gray;   
    border: 1px solid transparent;
    background: rgba(255, 255, 255, .6);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: content-box;
}

.login-form {   
    margin-top: 10%;
    background: rgba(255, 255, 255, 0.4);
}


.user-hud{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {   
    width: 40%;
    border-radius: 25px;
    border: 2px solid var(--bg-generic);
    text-align: center;
    margin: 6rem;
}

a.oauth{
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: #EAE7DC;
    padding: 5px;
    width: 200px;
}

input {
    display: block;
    margin: 5px auto;
    padding: 5px;
    width: 200px;
}


/* Page Main Part */

.flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
}


ul, li {
    padding: 0;
    margin: 10px;
}

.tagNav {
    margin: 10px;
    padding: 20px 10px;
    width: 20%;
    height: fit-content;
    background-color: whitesmoke;
    border-radius: 2px;
    margin-top: 50px;
}

main {
    margin: 10px;
}

main.posts {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

article {
    margin: 5px;
    height: 400px;
    background-color: whitesmoke;
    border-radius: 2px;
}
article:first-of-type {
    grid-column: 1 / span 2;
}