/* CSS Custom Properties */
body{
    --bg-content: #8E8D8A;
    --bg-generic: #EAE7DC;;

}

body{
    background-color: var(--bg-generic);
}

/* Page Header Part */
.topNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: whitesmoke;
}

a.webLogo {
    text-decoration: none;
    color: black;
}

.searchBar input:first-of-type{
    width: 200px;
    height: 20px;
    border: 1px solid darkgray;
    border-radius: 5px;
}

.searchBtn {
    border: none;
    background-color: white;
}

.dropBtn {
    border: none;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: gray;}

/* Page Main Part */

.flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.tagNav {
    margin: 10px;
    padding: 20px 10px;
    width: 20%;
    height: fit-content;
    background-color: whitesmoke;
    border-radius: 2px;
    margin-top: 50px;
}

ul, li {
    padding: 0;
    margin: 10px;
}

main {
    margin: 10px;
}

main.posts {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

article {
    margin: 5px;
    height: 400px;
    background-color: whitesmoke;
    border-radius: 2px;
}
article:first-of-type {
    grid-column: 1 / span 2;
}