<%- include("../partials/header") %>
<body>
    <h1>Foodgram</h1>

    <main>
        <form id="new-form" action="/posts" method="POST">
            <label>Picture:</label>
            <input type="text" name="picture" placeholder="Picture url...">
            <label>Caption:</label>
            <input type="text" name="caption" placeholder="Add a caption!">
            <label>Tag:</label>
            <input type="text" name="cast">
            <input type="submit" value="Save">
            <input type="submit" value="Cancel">
        </form>
	</main>
</body>
</html>